@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transition-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -o-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100);
}

@mixin scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin bgContain($url){
  background: url($url) no-repeat center center;
  background-size: contain;
}
@mixin lotteryUnitBg($index){
  background: url('../images/icons.png') repeat;
  background-position-x: center;
  background-position-y: $index;
  background-size: 100%  800% ;
  background-color: #fcfadf;
}

@mixin animation($animate) {
  -webkit-animation: $animate;
  -moz-animation: $animate;
  -o-animation: $animate;
  animation: $animate;
}

@mixin borderImg($source, $width, $outset ,$repeat ){
  -moz-border-image: $source $width $outset $repeat;	/* Old Firefox */
  -webkit-border-image: $source $width $outset $repeat;	/* Safari and Chrome */
  -o-border-image: $source $width $outset $repeat;		/* Opera */
  border-image: $source $width $outset $repeat;
}